<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">

    </head>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> WILL CUSTOMER BUY YOUR PRODUCT </h1><br>
        <form method="POST", action="{{url_for('home')}}">
           <b> ENTER GENDER :  <input type="text", name='a', placeholder="ENTER GENDER(M/F)"> <br><br>
            AGE :  <input type="text", name='b', placeholder="ENTER AGE"> <br><br>
            ESTIMATED SALARY :  <input type="text", name='c', placeholder="enter num"> <br><br>
            </b>
            <input type="submit" , value='predict!' >
        </form>

        
    </center>

    </body>
</html>